# Server Side Up -  PHP {{ php_version }} / FPM image 

Ubuntu 20.04 PHP {{ php_version }} FPM container image for [Server Side Up](https://serversideup.net) projects. Packages are provided by [Ondřej Surý](https://deb.sury.org/).