{
	{$CADDY_GLOBAL_OPTIONS}

	http_port 8080
	https_port 8443

	# todo: don't automatically redirect
	auto_https disable_redirects

	# todo: just testing
	local_certs

	log {
		format console
	}

	frankenphp {
		#worker /path/to/your/worker.php
		{$FRANKENPHP_CONFIG}
	}
}

{$CADDY_EXTRA_CONFIG} 

(common) {
	log {
		output stdout
	}

	log_skip {$HEALTHCHECK_PATH}*

	#log {
	#       # Redact the authorization query parameter that can be set by Mercure
	#       format filter {
	#               request>uri query {
	#                       replace authorization REDACTED
	#               }
	#       }
	#}

	encode zstd br gzip

	root * {$FRANKENPHP_WEBROOT}

	route {$HEALTHCHECK_PATH} {
		respond "OK" 200
	}

	# Uncomment the following lines to enable Mercure and Vulcain modules
	#mercure {
	#       # Transport to use (default to Bolt)
	#       transport_url {$MERCURE_TRANSPORT_URL:bolt:///data/mercure.db}
	#       # Publisher JWT key
	#       publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY} {env.MERCURE_PUBLISHER_JWT_ALG}
	#       # Subscriber JWT key
	#       subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} {env.MERCURE_SUBSCRIBER_JWT_ALG}
	#       # Allow anonymous subscribers (double-check that it's what you want)
	#       anonymous
	#       # Enable the subscription API (double-check that it's what you want)
	#       subscriptions
	#       # Extra directives
	#       {$MERCURE_EXTRA_DIRECTIVES}
	#}
	#vulcain

	{$CADDY_SERVER_EXTRA_DIRECTIVES}

	php_server
}

:8080 {
	import common
}

:8443 {
	tls internal
	import common
}
