# Server Side Up -  PHP {{ php_version }} / CLI image 

Ubuntu 22.04 PHP {{ php_version }} CLI container image for [Server Side Up](https://serversideup.net) projects. Packages are provided by [Ondřej Surý](https://deb.sury.org/).
