@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme {
  --color-mode: 'dark';
  --color-mode-fallback: 'dark';
  --color-mode-preference: 'dark';
  --color-mode-fallback: 'dark';
}

@theme static {
  --ui-header-height: --spacing(24);
  --container-8xl: 90rem;
  --font-sans: 'Inter', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
}

:root {
  --ui-container: var(--container-8xl);
}

ul li a:after {
  margin-left: 6px;
}

ul ul ul {
  border: none !important;
}

/* ul ul ul li a:after {
  margin-left: -13px;
}

ul li ul li{
  padding-inline-start: 0;
} */