name: Docker Publish (Beta Images)

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - src/**
  schedule:
    - cron: '0 8 * * 1'

jobs:

  cli:
    uses: ./.github/workflows/service_docker-build-and-publish.yml
    with:
      upstream-channel-prefix: "beta-"
      tag-prefix: "beta-"
      php-variation: cli
      checkout-type: branch
    secrets: inherit

  fpm:
    needs: cli
    uses: ./.github/workflows/service_docker-build-and-publish.yml
    with:
      upstream-channel-prefix: "beta-"
      tag-prefix: "beta-"
      php-variation: fpm
      checkout-type: branch
    secrets: inherit

  fpm-nginx:
    needs: fpm
    uses: ./.github/workflows/service_docker-build-and-publish.yml
    with:
      upstream-channel-prefix: "beta-"
      tag-prefix: "beta-"
      php-variation: fpm-nginx
      checkout-type: branch
    secrets: inherit
